{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Galaxy Engine Documentation</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'documentation_app/css/style.css' %}" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'documentation_app/js/DocViewer.js' %}" type="module"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 sidebar-container">
                <div class="row logo-container-row">
                    <div class="col-12">
                        <div class="logo-container"></div>
                        <div class="galaxy-and-stars-container">
                            <div class="galaxy-and-stars-rotater">
                                <div class="galaxy-container"></div>
                                <div class="star star1-container"></div>
                                <div class="star star2-container"></div>
                                <div class="star star3-container"></div>
                                <div class="star star4-container"></div>
                                <div class="star star5-container"></div>
                                <div class="star star6-container"></div>
                                <div class="star star7-container"></div>
                                <div class="star star8-container"></div>
                                <div class="star star9-container"></div>
                                <div class="star star10-container"></div>
                                <div class="star star11-container"></div>
                                <div class="star star12-container"></div>
                                <div class="star star13-container"></div>
                                <div class="star star14-container"></div>
                                <div class="star star15-container"></div>
                                <div class="star star16-container"></div>
                                <div class="star star17-container"></div>
                                <div class="star star18-container"></div>
                                <div class="star star19-container"></div>
                                <div class="star star20-container"></div>
                                <div class="star star21-container"></div>
                                <div class="star star22-container"></div>
                                <div class="star star23-container"></div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'documentation_app/navigation.html' %}
            </div>

            <div class="col-md-9 content-container"></div>
        </div>
    </div>
</body>