<div class="row">
    <div class="col-md-8">
        <h1>Button</h1>
    </div>
    <div class="col-md-4">
        <table>
            <tr>
                <td>File</td>
                <td>GalaxyButton.js</td>
            </tr>
            <tr>
                <td>Tag</td>
                <td>galaxy-button</td>
            </tr>
            <tr>
                <td>Extends</td>
                <td><a href="#component_base">GalaxyComponentBase.js</a></td>
            </tr>
        </table>
    </div>
    <hr>
</div>