<div class="row section-header">
    <div class="col-xl-7 col-lg-6 section-title-container">
        <h1>Button</h1>
    </div>
    <div class="col-xl-5 col-lg-6 section-header-table-container">
        <table class="section-header-table">
            <tr>
                <td>File:</td>
                <td>GalaxyComponentBase.js</td>
            </tr>
            <tr>
                <td>Tag:</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Extends:</td>
                <td><a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement" target="_blank">HTMLElement</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="row section-content">
    <div class="col-12 description-container">
        The <code>GalaxyButton</code> component is a custom button element that extends the functionality of the base component.
        It allows for easy creation of buttons with customizable labels and click events.
    </div>

    <div class="col-12 attributes-container">
        <h2>Attributes</h2>

        <div class="row">
            <div class="col-12">
                <h4></h4>
            </div>
        </div>
    </div>

    <div class="col-12 methods-container">
        <h2>Methods</h2>

        <div class="row other-methods-container">
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
            </div>
            <div class="col-12">
                <h4>async on_destroy()</h4>
                TEST
            </div>
        </div>
        <div class="row getters-setters-container">
            <div class="col-12 getters-setters-title-container">
                <h3>Getters / Setters</h3>
            </div>
        </div>
        <div class="row observers-container">
            <div class="col-12 observers-title-container">
                <h3>Observers</h3>
            </div>
        </div>
    </div>

    <div class="col-12 examples-container">
        <h2>Example</h2>
    </div>
</div>