<div class="row section-header">
    <div class="col-xl-7 col-lg-6 section-title-container">
        <h1>Component Base</h1>
    </div>
    <div class="col-xl-5 col-lg-6 section-header-table-container">
        <table class="section-header-table">
            <tr>
                <td>File:</td>
                <td>GalaxyComponentBase.js</td>
            </tr>
            <tr>
                <td>Tag:</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Extends:</td>
                <td><a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement" target="_blank">HTMLElement</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="row section-content">
    <div class="col-12 description-container">
        <p>
        This is the base class for all Galaxy Engine components. It extends the native HTMLElement class giving access to lifecycle methods. It also provides additional
        functionality specific to Galaxy Engine components. The components base class is designed to be extended by other components, allowing them to inherit common functionality
        and structure.
        </p>
        <p>
            The most important methods inherited from <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement" target="_blank">HTMLElement</a> are
            <code>connectedCallback()</code>, <code>disconnectedCallback()</code>, and <code>attributeChangedCallback()</code>. These methods are called when the component is
            added to or removed from the DOM, and when an observed attribute is changed, respectively. Unlike HTMLElement, the component base class uses pre, current, and post
            methods for <code>connectedCallback()</code>, <code>disconnectedCallback()</code>, and <code>attributeChangedCallback()</code> allowing for more control over the
            component's lifecycle in inheritance chains. This pre, current, and post structure is also applied to the static getters for <code>observedAttributes</code>, allowing
            for more control over the order in which attributes are observed.
        </p>

    </div>

    <div class="col-12 attributes-container">
        <h2>Attributes</h2>

        <div class="row">
            <div class="col-12">
                <h4></h4>
            </div>
        </div>
    </div>

    <div class="col-12 methods-container">
        <h2>Methods</h2>

        <div class="row other-methods-container">
            <div class="col-12">
                <h4>async pre_attribute_changed_callback(name, old_value, new_value)</h4>
                <div class="description">
                    Web Components API - Lifecycle hook: called when an observed attribute changes. This method is called before <code>attribute_changed_callback()</code>.
                </div>
            </div>
            <div class="col-12">
                <h4>async attribute_changed_callback(name, old_value, new_value)</h4>
                <div class="description">
                    Web Components API - Lifecycle hook: called when an observed attribute changes. This method is called after <code>pre_attribute_changed_callback()</code>
                    and before <code>post_attribute_changed_callback()</code>.
                </div>
            </div>
            <div class="col-12">
                <h4>async post_attribute_changed_callback(name, old_value, new_value)</h4>
                <div class="description">
                    Web Components API - Lifecycle hook: called when an observed attribute changes. This method is called after <code>attribute_changed_callback()</code>.
                </div>
            </div>
            <div class="col-12">
                <h4>async attributeChangedCallback(name, old_value, new_value)</h4>
                <div class="description">
                    Web Components API - Lifecycle hook: called when an observed attribute changes. When this method is called, it will call asynchronously
                    <code>pre_attribute_changed_callback()</code>, <code>attribute_changed_callback()</code>, and <code>post_attribute_changed_callback()</code> in that order.
                </div>
            </div>
            <div class="col-12">
                <h4>async pre_on_create()</h4>
                <div class="description">
                    Web Components API - Lifecycle hook: called as a part of <code>connectedCallback()</code> when the element is added to the DOM. This method is called before
                    <code>on_create()</code>.
                </div>
            </div>
            <div class="col-12">
                <h4>async on_create()</h4>
                <div class="description">
                    Web Components API - Lifecycle hook: called as a part of <code>connectedCallback()</code> when the element is added to the DOM. This method is called after
                    <code>pre_on_create()</code> and before <code>post_on_create()</code>.
                </div>
            </div>
            <div class="col-12">
                <h4>async post_on_create()</h4>
                <div class="description">
                    Web Components API - Lifecycle hook: called as a part of <code>connectedCallback()</code> when the element is added to the DOM. This method is called after
                    <code>on_create()</code>.
                </div>
            </div>
            <div class="col-12">
                <h4>async connectedCallback()</h4>
                <div class="description">
                    Web Components API - Lifecycle hook: called when the element is added to the DOM. When this method is called, it will call asynchronously
                    <code>pre_on_create()</code>, <code>on_create()</code>, and <code>post_on_create()</code> in that order.
                </div>
            </div>
            <div class="col-12">
                <h4>async pre_on_destroy()</h4>
                <div class="description">
                    Web Components API - Lifecycle hook: called as a part of <code>disconnectedCallback()</code> when the element is removed from the DOM. This method is called
                    before <code>on_destroy()</code>.
                </div>
            </div>
            <div class="col-12">
                <h4>async on_destroy()</h4>
                <div class="description">
                    Web Components API - Lifecycle hook: called as a part of <code>disconnectedCallback()</code> when the element is removed from the DOM. This method is called
                    after <code>pre_on_destroy()</code> and before <code>post_on_destroy()</code>.
                </div>
            </div>
            <div class="col-12">
                <h4>async post_on_destroy()</h4>
                <div class="description">
                    Web Components API - Lifecycle hook: called as a part of <code>disconnectedCallback()</code> when the element is removed from the DOM. This method is called
                    after <code>on_destroy()</code>.
                </div>
            </div>
            <div class="col-12">
                <h4>async disconnectedCallback()</h4>
                <div class="description">
                    Web Components API - Lifecycle hook: called when the element is removed from the DOM. When this method is called, it will call asynchronously
                    <code>pre_on_destroy()</code>, <code>on_destroy()</code>, and <code>post_on_destroy()</code> in that order.
                </div>
            </div>
            <div class="col-12">
                <h4>async get_template(template_html = null)</h4>
                <div class="description">
                    Returns the template HTML for the component. If <code>template_html</code> is provided, it will be used as the template. Otherwise, it will return the
                    <code>component_html_template</code> property of the component.
                </div>
            </div>
        </div>
        <div class="row getters-setters-container">
            <div class="col-12 getters-setters-title-container">
                <h3>Getters / Setters</h3>
            </div>
            <div class="col-12">
                <h4>pre_observed_attributes</h4>
                <div class="description">
                    <p>
                    Observed attributes that will trigger the <code>attributeChangedCallback()</code>
                    These attributes will be added to the <code>observedAttributes</code> array before attributes in <code>observed_attributes</code>
                    </p>
                    <div>get: Gets pre-observed attributes</div>
                </div>
            </div>
            <div class="col-12">
                <h4>observed_attributes</h4>
                <div class="description">
                    <p>
                    Observed attributes that will trigger the <code>attributeChangedCallback()</code>
                    These attributes will be added to the <code>observedAttributes</code> array after attributes in <code>pre_observed_attributes</code> and before
                    <code>post_observed_attributes</code>
                    </p>
                    <div>get: Gets observed attributes</div>
                </div>
            </div>
            <div class="col-12">
                <h4>post_observed_attributes</h4>
                <div class="description">
                    <p>
                    Observed attributes that will trigger the <code>attributeChangedCallback()</code>
                    These attributes will be added to the <code>observedAttributes</code> array after attributes in <code>pre_observed_attributes</code> and
                    <code>observed_attributes</code>
                    </p>
                    <div>get: Gets post-observed attributes</div>
                </div>
            </div>
            <div class="col-12">
                <h4>observedAttributes</h4>
                <div class="description">
                    <p>
                    The complete list of observed attributes that will trigger the <code>attributeChangedCallback()</code>
                    </p>
                    <div>get: Gets the combined <code>pre_observed_attributes</code>, <code>observed_attributes</code>, and <code>post_observed_attributes</code> lists.</div>
                </div>
            </div>
        </div>
        <div class="row observers-container">
            <div class="col-12 observers-title-container">
                <h3>Observers</h3>
            </div>
            <div class="col-12">
                <h4></h4>
            </div>
        </div>
    </div>

    <div class="col-12 examples-container">
        <h2>Example</h2>
    </div>
</div>