<div class="row nav-container-row">
    <div class="col-12">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <span class="nav-header">Core</span>

                <ul class="nav flex-column ms-3">
                    <li class="nav-item">
                        <a class="nav-link" href="#engine">Engine</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#state_manager">State Manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#components_loader">Components Loader</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#utils">Utils</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <span class="nav-header">Components</span>

                <ul class="nav flex-column ms-3">
                    <li class="nav-item">
                        <a class="nav-link" href="#component_base">Component Base</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#input_base">Input Base</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#number_input_base">Number Input Base</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#float_input">Float Input</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#integer_input">Integer Input</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#text_input">Text Input</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#select_base">Select Base</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#select">Select</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#multi_select">Multi-select</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#form">Form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#modal">Modal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#button">Button</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>