<div class="row section-header">
    <div class="col-xl-7 col-lg-6 section-title-container">
        <h1>Form</h1>
    </div>
    <div class="col-xl-5 col-lg-6 section-header-table-container">
        <table class="section-header-table">
            <tr>
                <td>File:</td>
                <td>GalaxyForm.js</td>
            </tr>
            <tr>
                <td>Tag:</td>
                <td>galaxy-form</td>
            </tr>
            <tr>
                <td>Extends:</td>
                <td><a href="#component_base">GalaxyComponentBase</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="row section-content">
    <div class="col-12 description-container">
    </div>

    <div class="col-12 attributes-container">
        <h2>Attributes</h2>

        <div class="row">
            <div class="col-12">
                <div class="title-block">
                    <h4></h4>
                    <div>Observed: <code>false</code></div>
                    <div>Default: <code>false</code></div>
                </div>
                <div class="description"></div>
            </div>
        </div>
    </div>

    <div class="col-12 methods-container">
        <h2>Methods</h2>

        <div class="row other-methods-container">
            <div class="col-12">
                <h4></h4>
                <div class="description">
                    Handles the built-in click event for the button. If the button has confirmation enabled, it will show a confirmation modal.
                    It will also update the modal's title, body, and button texts based on the component's attributes.
                </div>
            </div>
        </div>
        <div class="row getters-setters-container">
            <div class="col-12 getters-setters-title-container">
                <h3>Getters / Setters</h3>
            </div>
            <div class="col-12">
                <h4></h4>
                <div class="description">
                    <div>get: Gets the text content of the button.</div>
                    <div>set: Sets the text content of the button to the specified value.</div>
                </div>
            </div>
        </div>
        <div class="row observers-container">
            <div class="col-12 observers-title-container">
                <h3>Observers</h3>
            </div>
            <div class="col-12">
                <h4></h4>
                <div class="description"></div>
            </div>
        </div>

    </div>

    <div class="col-12 examples-container">
        <h2>Example</h2>

        <h4></h4>
        <pre class="code-block"><code data-lang="html"></code></pre>
    </div>
</div>