<div class="row section-header">
    <div class="col-xl-7 col-lg-6 section-title-container">
        <h1>Form</h1>
    </div>
    <div class="col-xl-5 col-lg-6 section-header-table-container">
        <table class="section-header-table">
            <tr>
                <td>File:</td>
                <td>GalaxyForm.js</td>
            </tr>
            <tr>
                <td>Tag:</td>
                <td>galaxy-form</td>
            </tr>
            <tr>
                <td>Extends:</td>
                <td><a href="#html_component_base">GalaxyHTMLComponentBase </a></td>
            </tr>
        </table>
    </div>
</div>

<div class="row section-content">
    <div class="col-12 description-container">
        <p>The <code>galaxy-form</code> component is a custom form element that extends the functionality of the base component.
        It provides a structured way to create forms using the Galaxy framework, allowing developers to easily manage form inputs, validation, and submission.</p>

        <p><b>Note about initialization:</b><br>
            Several steps are taken when a form is initialized:
            <ol>
                <li>Set the form's action, method, enctype, novalidate, and target attributes.</li>
                <li>Move all direct child nodes of <code>galaxy-form</code> into the form</li>
                <li>Run pre_on_create, on_create, and post_on_create for all Galaxy children. This is done after moving the children to prevent the children from running these
                    methods twice. 1st when they are created and 2nd when the form is created and the children are moved to the form.</li>
            </ol>
        </p>
    </div>

    <div class="col-12 attributes-container">
        <h2>Attributes</h2>

        <div class="row">
            <div id="action_attribute" class="col-12 details-entry">
                <h4>action</h4>
                <div class="extra-details">
                    <div>Observed: <code>true</code></div>
                    <div>Default: <code>""</code></div>
                </div>
                <div class="description">
                    <p>The URL to which the form data will be submitted. If not specified, the form will submit to the current page.</p>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="method_attribute" class="col-12 details-entry">
                <h4>method</h4>
                <div class="extra-details">
                    <div>Observed: <code>true</code></div>
                    <div>Default: <code>"GET"</code></div>
                </div>
                <div class="description">
                    <p>The HTTP method to use when submitting the form. Common values are "GET" and "POST". If not specified, the default is "GET".</p>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="enctype_attribute" class="col-12 details-entry">
                <h4>enctype</h4>
                <div class="extra-details">
                    <div>Observed: <code>true</code></div>
                    <div>Default: <code>""</code></div>
                </div>
                <div class="description">
                    <p>The encoding type for the form data when it is submitted. This is important for file uploads and other types of data.
                        Common values include "application/x-www-form-urlencoded", "multipart/form-data", and "text/plain".
                        If not specified, the default is "application/x-www-form-urlencoded".
                    </p>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="novalidate_attribute" class="col-12 details-entry">
                <h4>novalidate</h4>
                <div class="extra-details">
                    <div>Observed: <code>true</code></div>
                    <div>Default: <code>false</code></div>
                </div>
                <div class="description">
                    <p>When set to true, the form will not perform any validation on the input fields before submission.
                        This can be useful for forms that require custom validation logic or when you want to handle validation manually.
                        If not specified, the default is false, meaning the form will validate inputs according to HTML5 standards.</p>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="target_attribute" class="col-12 details-entry">
                <h4>target</h4>
                <div class="extra-details">
                    <div>Observed: <code>true</code></div>
                    <div>Default: <code>false</code></div>
                </div>
                <div class="description">
                    <p>Specifies where to display the response after submitting the form.
                        This can be a named iframe or a window. If not specified, the response will be displayed in the same window.</p>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="instant_validation_attribute" class="col-12 details-entry">
                <h4>instant-validation</h4>
                <div class="extra-details">
                    <div>Observed: <code>false</code></div>
                    <div>Default: <code>false</code></div>
                </div>
                <div class="description">
                    <p>When set to true, the form will validate inputs immediately as the user types or interacts with the form fields.
                        This provides instant feedback to the user about the validity of their input. If not specified, the default is false,
                        meaning validation will occur only when the form is submitted.</p>
                </div>
                <div class="details-hover"></div>
            </div>
        </div>
    </div>
    <div class="col-12 methods-container">
        <h2>Methods</h2>

        <div class="row other-methods-container">
            <div id="on_form_submit_method" class="col-12 details-entry">
                <h4>on_form_submit(event)</h4>
                <div class="description">
                    Handles the form submission event. This method is called when the form is submitted, either by clicking a submit button or pressing Enter in an input field.
                    It can be used to perform custom actions before the form is actually submitted, such as validation or data manipulation.
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="validate_method" class="col-12 details-entry">
                <h4>validate(scroll_to_first_invalid = true)</h4>
                <div class="description">
                    Validates the form inputs according to HTML5 standards or custom validation logic.
                    If any input is invalid, it will return false and optionally scroll to the first invalid input if <code>scroll_to_first_invalid</code> is true.
                    If all inputs are valid, it returns true.
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="attribute_changed_callback_method" class="col-12 details-entry">
                <h4>async attribute_changed_callback(name, old_value, new_value)</h4>
                <div class="description">
                    See <a href="#html_component_base##attribute_changed_callback_method">GalaxyHTMLComponentBase </a>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="on_create_method" class="col-12 details-entry">
                <h4>async on_create()</h4>
                <div class="description">
                    See <a href="#html_component_base##on_create_method">GalaxyHTMLComponentBase </a>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="on_destroy_method" class="col-12 details-entry">
                <h4>async on_destroy()</h4>
                <div class="description">
                    See <a href="#html_component_base##on_destroy_method">GalaxyHTMLComponentBase </a>
                </div>
                <div class="details-hover"></div>
            </div>
        </div>
        <div class="row getters-setters-container">
            <div class="col-12 getters-setters-title-container">
                <h3>Getters / Setters</h3>
            </div>
            <div id="action_method" class="col-12 details-entry">
                <h4>action</h4>
                <div class="description">
                    <div>get: Gets the action attribute of the Galaxy form.</div>
                    <div>set: Sets the action attribute of the Galaxy form.</div>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="method_method" class="col-12 details-entry">
                <h4>method</h4>
                <div class="description">
                    <div>get: Gets the method attribute of the Galaxy form.</div>
                    <div>set: Sets the method attribute of the Galaxy form.</div>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="enctype_method" class="col-12 details-entry">
                <h4>enctype</h4>
                <div class="description">
                    <div>get: Gets the enctype attribute of the Galaxy form.</div>
                    <div>set: Sets the enctype attribute of the Galaxy form.</div>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="novalidate_method" class="col-12 details-entry">
                <h4>novalidate</h4>
                <div class="description">
                    <div>get: Gets the novalidate attribute of the Galaxy form.</div>
                    <div>set: Sets the novalidate attribute of the Galaxy form.</div>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="target_method" class="col-12 details-entry">
                <h4>target</h4>
                <div class="description">
                    <div>get: Gets the target attribute of the Galaxy form.</div>
                    <div>set: Sets the target attribute of the Galaxy form.</div>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="instant_validation_method" class="col-12 details-entry">
                <h4>instant_validation</h4>
                <div class="description">
                    <div>get: Gets the instant validation attribute of the Galaxy form.</div>
                    <div>set: Sets the instant validation attribute of the Galaxy form.</div>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="observed_attributes_method" class="col-12 details-entry">
                <h4>observed_attributes</h4>
                <div class="description">
                    See <a href="#html_component_base##observed_attributes_method">GalaxyHTMLComponentBase </a>
                </div>
                <div class="details-hover"></div>
            </div>
        </div>
        <div class="row observers-container">
            <div class="col-12 observers-title-container">
                <h3>Observers</h3>
            </div>
            <div id="handle_observed_action_method" class="col-12 details-entry">
                <h4>handle_observed_action(new_value)</h4>
                <div class="description">
                    Handles the <code>action</code> attribute by setting it on the form element.
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="handle_observed_method_method" class="col-12 details-entry">
                <h4>handle_observed_method(new_value)</h4>
                <div class="description">
                    Handles the <code>method</code> attribute by setting it on the form element.
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="handle_observed_enctype_method" class="col-12 details-entry">
                <h4>handle_observed_enctype(new_value)</h4>
                <div class="description">
                    Handles the <code>enctype</code> attribute by setting it on the form element.
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="handle_observed_novalidate_method" class="col-12 details-entry">
                <h4>handle_observed_novalidate(new_value)</h4>
                <div class="description">
                    Handles the <code>novalidate</code> attribute by setting it on the form element.
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="handle_observed_target_method" class="col-12 details-entry">
                <h4>handle_observed_target(new_value)</h4>
                <div class="description">
                    Handles the <code>target</code> attribute by setting it on the form element.
                </div>
                <div class="details-hover"></div>
            </div>
        </div>

    </div>

    <div class="col-12 examples-container">
        <h2>Example</h2>

        <h4></h4>
        <pre class="code-block"><code data-lang="html">
            <galaxy-form action="/submit" method="POST" enctype="multipart/form-data" novalidate instant-validation>
                ... form contents here ...
            </galaxy-form>
        </code></pre>
    </div>
</div>