<div class="row section-header">
    <div class="col-xl-7 col-lg-6 section-title-container">
        <h1>Integer Input</h1>
    </div>
    <div class="col-xl-5 col-lg-6 section-header-table-container">
        <table class="section-header-table">
            <tr>
                <td>File:</td>
                <td>GalaxyIntegerInput.js</td>
            </tr>
            <tr>
                <td>Tag:</td>
                <td>galaxy-integer-input</td>
            </tr>
            <tr>
                <td>Extends:</td>
                <td><a href="#number_input_base">GalaxyNumberInputBase</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="row section-content">
    <div class="col-12 description-container">
        A custom input element for integers. It extends the <a href="#number_input_base">GalaxyNumberInputBase</a> class and provides additional functionality
        specific to integer inputs.
    </div>

    <div class="col-12 attributes-container">
        <h2>Attributes</h2>

        <div class="row">
            <div class="col-12 details-entry"><div class="details-hover"></div>
                <h4></h4>
                <div class="extra-details">
                    <div>Observed: <code>false</code></div>
                    <div>Default: <code>false</code></div>
                </div>
                <div class="description"></div>
            </div>
        </div>
    </div>

    <div class="col-12 methods-container">
        <h2>Methods</h2>

        <div class="row other-methods-container">
            <div class="col-12 details-entry"><div class="details-hover"></div>
                <h4></h4>
                <div class="description"></div>
            </div>
        </div>
        <div class="row getters-setters-container">
            <div class="col-12 getters-setters-title-container">
                <h3>Getters / Setters</h3>
            </div>
            <div class="col-12 details-entry"><div class="details-hover"></div>
                <h4></h4>
                <div class="description">
                    <div>get: </div>
                    <div>set: </div>
                </div>
            </div>
        </div>
        <div class="row observers-container">
            <div class="col-12 observers-title-container">
                <h3>Observers</h3>
            </div>
            <div class="col-12 details-entry"><div class="details-hover"></div>
                <h4></h4>
                <div class="description"></div>
            </div>
        </div>

    </div>

    <div class="col-12 examples-container">
        <h2>Example</h2>

        <h4></h4>
        <pre class="code-block"><code data-lang="html">
            <galaxy-integer-input id="example_integer_input" value="10" min="0" max="100" step="1"></galaxy-integer-input>
        </code></pre>
    </div>
</div>