<div class="row section-header">
    <div class="col-xl-7 col-lg-6 section-title-container">
        <h1>Button</h1>
    </div>
    <div class="col-xl-5 col-lg-6 section-header-table-container">
        <table class="section-header-table">
            <tr>
                <td>File:</td>
                <td>GalaxyNav.js</td>
            </tr>
            <tr>
                <td>Tag:</td>
                <td>galaxy-button</td>
            </tr>
            <tr>
                <td>Extends:</td>
                <td><a href="#component_base">GalaxyComponentBase</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="row section-content">
    <div class="col-12 description-container">
        The <code>galaxy-nav</code> is a customizable navigation component. It allows for the easy creation of a
        horizontal or vertical navigation bar/menu with customizable theme, dropdown, multi-column dropdown, sections,
        brand, headers, and icon support.
    </div>

    <div class="col-12 attributes-container">
        <h2>Attributes</h2>

        <div class="row">
            <div id="theme_attribute" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>theme</h4>
                <div class="extra-details">
                    <div>Observed: <code>true</code></div>
                    <div>Default: <code>light</code></div>
                </div>
                <div class="description">
                    Sets the theme for the navigation. Comes with 2 default themes, <code>light</code> and
                    <code>dark</code>, but the user can pass in their own custom theme as well. <b>Note:</b>
                    This can be set in the <a href="#navigation##config_attribute">config</a>.
                </div>
            </div>
            <div id="layout_attribute" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>layout</h4>
                <div class="extra-details">
                    <div>Observed: <code>true</code></div>
                    <div>Default: <code>horizontal</code></div>
                </div>
                <div class="description">
                    Sets the layout for the navigation. Available options are, <code>horizontal</code> and <code>vertical</code>. <b>Note:</b> This can be set in the <a href="#navigation##config_attribute">config</a>.
                </div>
            </div>
            <div id="config_attribute" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>config</h4>
                <div class="extra-details">
                    <div>Observed: <code>true</code></div>
                    <div>Default: <code>null</code></div>
                </div>
                <div class="description">
                    Takes a JSON string to be used as the definition for the navigation. The config can also handle setting the layout and theme as well.
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 methods-container">
        <h2>Methods</h2>

        <div class="row other-methods-container">
            <div id="add_theme_css_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>add_theme_css()</h4>
                <div class="description">
                    Adds the theme CSS to the document. This function dynamically generates CSS variables based on the
                    theme settings and applies them to the document root. It also determines the position of the
                    navigation based on its layout and viewport dimensions.
                </div>
            </div>
            <div id="build_nav_sections_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>async build_nav_sections()</h4>
                <div class="description">
                    Builds the navigation sections based on the <a href="#navigation##config_attribute">config</a>.
                </div>
            </div>
            <div id="create_nav_button_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>create_nav_button(item)</h4>
                <div class="description">
                    Creates a navigation button element based on the passed in item.
                </div>
            </div>
            <div id="build_nav_item_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>async build_nav_item(item)</h4>
                <div class="description">
                    Builds a navigation item, including handling of multi-column dropdowns and nested children.
                </div>
            </div>
            <div id="on_create_method" class="col-12 details-entry">
                <h4>async on_create()</h4>
                <div class="description">
                    See <a href="#component_base##on_create_method">GalaxyComponentBase</a>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="on_destroy_method" class="col-12 details-entry">
                <h4>async on_destroy()</h4>
                <div class="description">
                    See <a href="#component_base##on_destroy_method">GalaxyComponentBase</a>
                </div>
                <div class="details-hover"></div>
            </div>
            <div id="attribute_changed_callback_method" class="col-12 details-entry">
                <h4>async attribute_changed_callback(name, old_value, new_value)</h4>
                <div class="description">
                    See <a href="#component_base##attribute_changed_callback_method">GalaxyComponentBase</a>
                </div>
                <div class="details-hover"></div>
            </div>
        </div>
        <div class="row getters-setters-container">
            <div class="col-12 getters-setters-title-container">
                <h3>Getters / Setters</h3>
            </div>
            <div id="config_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>config</h4>
                <div class="description">
                    <div>get: Gets the config state of the select.</div>
                    <div>set: Sets the config state of the select.</div>
                </div>
            </div>
            <div id="theme_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>theme</h4>
                <div class="description">
                    <div>get: Gets the theme state of the select.</div>
                    <div>set: Sets the theme state of the select.</div>
                </div>
            </div>
            <div id="layout_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>layout</h4>
                <div class="description">
                    <div>get: Gets the layout state of the select.</div>
                    <div>set: Sets the layout state of the select.</div>
                </div>
            </div>
            <div id="observed_attributes_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>observed_attributes</h4>
                <div class="description">
                    See <a href="#component_base##observed_attributes_method">GalaxyComponentBase</a>
                </div>
            </div>
        </div>
        <div class="row observers-container">
            <div class="col-12 observers-title-container">
                <h3>Observers</h3>
            </div>
            <div id="handle_observed_theme_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>handle_observed_theme(new_value)</h4>
                <div class="description">
                    <div>Handles changes to the <code>theme</code> attribute.</div>
                </div>
            </div>
            <div id="handle_observed_layout_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>handle_observed_layout_method(new_value)</h4>
                <div class="description">
                    <div>Handles changes to the <code>layout</code> attribute.</div>
                </div>
            </div>
            <div id="handle_observed_config_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>handle_observed_config(new_value)</h4>
                <div class="description">
                    <div>Handles changes to the <code>config</code> attribute.</div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-12 examples-container">
        <h2>Example</h2>

        <h4></h4>
        <pre class="code-block"><code data-lang="html">
            <galaxy-select collapsible-groups search-enabled></galaxy-select>
        </code></pre>

        <pre class="code-block"><code data-lang="javascript">
            let select = document.querySelector('galaxy-select');

            select.options = [
                { value: 'option1', text: 'Option 1' },
                { value: 'option2', text: 'Option 2' },
                { value: 'option3', text: 'Option 3' }
            ];

            select.value = 'option2'; // Set the selected value
        </code></pre>
    </div>
</div>