<div class="row section-header">
    <div class="col-xl-7 col-lg-6 section-title-container">
        <h1>Number Input Base</h1>
    </div>
    <div class="col-xl-5 col-lg-6 section-header-table-container">
        <table class="section-header-table">
            <tr>
                <td>File:</td>
                <td>GalaxyNumberInputBase.js</td>
            </tr>
            <tr>
                <td>Tag:</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Extends:</td>
                <td><a href="#input_base">GalaxyInputBase</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="row section-content">
    <div class="col-12 description-container">
        A parent class for integer and float input types. Contains common functionality for number inputs, such as min, max, and step attributes.
    </div>

    <div class="col-12 attributes-container">
        <h2>Attributes</h2>

        <div class="row">
            <div class="col-12">
                <div class="title-block">
                    <h4>min</h4>
                    <div>Observed: <code>false</code></div>
                    <div>Default: <code>null</code></div>
                </div>
                <div class="description">
                    The minimum value for the number input. If not set, there is no minimum limit.
                </div>
            </div>
            <div class="col-12">
                <div class="title-block">
                    <h4>max</h4>
                    <div>Observed: <code>false</code></div>
                    <div>Default: <code>null</code></div>
                </div>
                <div class="description">
                    The maximum value for the number input. If not set, there is no maximum limit.
                </div>
            </div>
            <div class="col-12">
                <div class="title-block">
                    <h4>step</h4>
                    <div>Observed: <code>true</code></div>
                    <div>Default: <code>"Any"</code></div>
                </div>
                <div class="description">
                    The step value for the number input. This defines the increment or decrement value when using the up/down buttons.
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 methods-container">
        <h2>Methods</h2>

        <div class="row other-methods-container">
            <div class="col-12">
                <h4>cast_value_for_input_type(value)</h4>
                <div class="description">
                    Casts the value to the correct type for the number input. If the input is a float, the value is parsed as a float. If the input is an integer, the value is
                    parsed as an integer.
                </div>
            </div>
            <div class="col-12">
                <h4>async attribute_changed_callback(name, old_value, new_value)</h4>
                <div class="description">
                    Casts the value to the correct type for the number input. If the input is a float, the value is parsed as a float. If the input is an integer, the value is
                    parsed as an integer.
                </div>
            </div>
            <div class="col-12">
                <h4>get_validation_errors(value)</h4>
                <div class="description">
                    <p>Validates the value against the min, max, and step attributes. Returns an array of error messages if the value is invalid.</p>

                    See <a href="#input_base">GalaxyInputBase</a>
                </div>
            </div>
        </div>
        <div class="row getters-setters-container">
            <div class="col-12 getters-setters-title-container">
                <h3>Getters / Setters</h3>
            </div>
            <div class="col-12">
                <h4>min</h4>
                <div class="description">
                    <div>get: Gets the min value of the input.</div>
                    <div>set: Sets the min value of the input.</div>
                </div>
            </div>
            <div class="col-12">
                <h4>max</h4>
                <div class="description">
                    <div>get: Gets the max value of the input </div>
                    <div>set: Sets the max value of the input </div>
                </div>
            </div>
            <div class="col-12">
                <h4>step</h4>
                <div class="description">
                    <div>get: Gets the step value of the input </div>
                    <div>set: Sets the step value of the input </div>
                </div>
            </div>
        </div>
        <div class="row observers-container">
            <div class="col-12 observers-title-container">
                <h3>Observers</h3>
            </div>
            <div class="col-12">
                <h4>handle_observed_step(new_value)</h4>
                <div class="description">Handles the observed step attribute.</div>
            </div>
        </div>

    </div>

    <div class="col-12 examples-container">
        <h2>Example</h2>

        <h4></h4>
        <pre class="code-block"><code data-lang="html"></code></pre>
    </div>
</div>