<div class="row section-header">
    <div class="col-xl-7 col-lg-6 section-title-container">
        <h1>Select</h1>
    </div>
    <div class="col-xl-5 col-lg-6 section-header-table-container">
        <table class="section-header-table">
            <tr>
                <td>File:</td>
                <td>GalaxySelect.js</td>
            </tr>
            <tr>
                <td>Tag:</td>
                <td>galaxy-select</td>
            </tr>
            <tr>
                <td>Extends:</td>
                <td><a href="#select_base">GalaxySelectBase</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="row section-content">
    <div class="col-12 description-container">
        A custom select element that extends the <a href="#select_base">GalaxySelectBase</a> class.
    </div>

    <div class="col-12 attributes-container">
        <h2>Attributes</h2>

        <div class="row">
            <div id="anchor_dropdown_attribute" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>anchor_dropdown</h4>
                <div class="extra-details">
                    <div>Observed: <code>true</code></div>
                    <div>Default: <code>false</code></div>
                </div>
                <div class="description">
                    If set to <code>true</code>, the dropdown will be anchored to the select element keeping it open.
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 methods-container">
        <h2>Methods</h2>

        <div class="row other-methods-container">
            <div id="post_attribute_changed_callback_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>async post_attribute_changed_callback(name, old_value, new_value)</h4>
                <div class="description">
                    See <a href="#html_component_base##post_attribute_changed_callback_method">GalaxyHTMLComponentBase </a>
                </div>
            </div>
            <div id="input_on_click_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>input_on_click()</h4>
                <div class="description">
                    See <a href="#select_base##input_on_click_method">GalaxySelectBase</a>
                </div>
            </div>
            <div id="option_on_click_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>option_on_click(option_element, option_icons_container_element, option_data)</h4>
                <div class="description">
                    See <a href="#select_base##option_on_click_method">GalaxySelectBase</a>
                </div>
            </div>
        </div>
        <div class="row getters-setters-container">
            <div class="col-12 getters-setters-title-container">
                <h3>Getters / Setters</h3>
            </div>
            <div id="anchor_dropdown_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>anchor_dropdown</h4>
                <div class="description">
                    <div>get: Gets the anchor_dropdown state of the select.</div>
                    <div>set: Sets the anchor_dropdown state of the select.</div>
                </div>
            </div>
            <div id="post_observed_attributes_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>post_observed_attributes</h4>
                <div class="description">
                    See <a href="#html_component_base##post_observed_attributes_method">GalaxyHTMLComponentBase </a>
                </div>
            </div>
        </div>
        <div class="row observers-container">
            <div class="col-12 observers-title-container">
                <h3>Observers</h3>
            </div>
            <div id="handle_observed_anchor_dropdown_method" class="col-12 details-entry"><div class="details-hover"></div>
                <h4>handle_observed_anchor_dropdown(new_value)</h4>
                <div class="description">
                    <div>Handles changes to the <code>anchor_dropdown</code> attribute.</div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 examples-container">
        <h2>Example</h2>

        <h4></h4>
        <pre class="code-block"><code data-lang="html">
            <galaxy-select collapsible-groups search-enabled></galaxy-select>
        </code></pre>

        <pre class="code-block"><code data-lang="javascript">
            let select = document.querySelector('galaxy-select');

            select.options = [
                { value: 'option1', text: 'Option 1' },
                { value: 'option2', text: 'Option 2' },
                { value: 'option3', text: 'Option 3' }
            ];

            select.value = 'option2'; // Set the selected value
        </code></pre>
    </div>
</div>